<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>PhotoInvasion - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*@Styles.Render("~/Content/bootstrap/css")*@
        @Styles.Render("~/Content/font-awesome/css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/prefixfree.min.js")
    </head>
    <body>
        <header>
            <div class="content-wrapper effect">
                <div class="float-left">
                    <a href="@Url.Action("Index", "Home")"><img id="logo" src="~/Images/logo.png"/><p class="site-title">Photo Invasion</p></a>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                        @Html.Partial("_MenuPartial")
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content effect clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                    <p id="footerText">&copy; @DateTime.Now.Year - Photo Invasion</p>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
