@model IEnumerable<PhotoInvasion.DAL.Album>

@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alignCenter">
    <h1>Albums</h1>
    <br />
    @foreach (var item in Model)
    {
        <a href="@Url.Action("ViewAlbum", "Album", new { id = @item.Id })">
            <div class="albumIcon">
                <p>
                    <h2>@item.Name</h2><br />
                    <hr />
                    <span class="label">Preview:</span><br />
                    @foreach (var photo in item.Photo.Take(3).ToList())
                    {
                        <img src="@photo.Source" />
                    }

                </p>
                <p>
                    <span class="label">Date created:</span>
                    <span>@item.Date</span>
                </p>
            </div>
        </a>
    }
    <br /><br />
    <a class="addButton" href="@Url.Action("AddAlbum", "Home")"><i class="fa fa-plus fa-3x"></i></a>

</div>

