@model IEnumerable<PhotoInvasion.DAL.Album>

@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!ViewBag.access) 
{
    <h3>You are not authorized as a photographer.</h3>
}
else
{
    if (0 == Model.Count()) 
    {
        <h2>No albums</h2>
    }
    else 
    {
        <div class="alignCenter">
            <h1>@Model.First().UserProfile.LastName @Model.First().UserProfile.FirstName's Albums</h1>
            <br />
            @foreach (var item in Model)
            {
                <a href="@Url.Action("ViewAlbum", "Album", new { id = ViewContext.RouteData.Values["id"], a = @item.Id, })">
                    <div class="albumIcon">
                        <p>
                            <h2>@item.Name</h2><br />
                            <hr />
                            <span class="label">Preview:</span><br />
                            @foreach (var photo in item.Photo.Take(3).ToList())
                            {
                                <img src="@photo.Source" />
                            }

                        </p>
                        <p>
                            <span class="label">Date created:</span>
                            <span>@item.Date</span>
                        </p>
                    </div>
                </a>
            }
            <br /><br />
            @if (null == ViewContext.RouteData.Values["id"] || (null != ViewContext.RouteData.Values["id"] && int.Parse(ViewContext.RouteData.Values["id"].ToString()) == WebSecurity.CurrentUserId))
            {
                <a class="addButton" href="@Url.Action("AddAlbum", "Home")"><i class="fa fa-plus fa-3x"></i></a>        
            }
        </div>
    }
}
