@model PhotoInvasion.Models.UserProfile

@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Personal details</h3>
    </header>
    <p>
        <span class="label">Name:</span>
        <span>@Model.LastName @Model.FirstName</span>
    </p>
    <p>
        <span class="label">Email:</span>
        <span>@Model.Email</span>
    </p>
    <header>
        <h3>Description</h3>
    </header>
    <p>
        <span class="label">About me:</span>
        <span>@Model.Description</span>
    </p>
    <p>
        <span class="label">City:</span>
        <span>@Model.City</span>
    </p>
</section>
