@model IEnumerable<PhotoInvasion.DAL.UserProfile>

@{
    ViewBag.Title = "Home Page";
}


@foreach (var item in Model)
{
    <div>
        <p>@item.UserId @item.UserName</p>
        <p>@item.LastName @item.FirstName</p>
        <p>@item.City</p>
        <p>@item.Description</p>
        <hr />
    </div>
}