@model IEnumerable<PhotoInvasion.DAL.UserProfile>

@{
    ViewBag.Title = "Home Page";
}

<h1>Photo invaders</h1>

<div id="usersContainer" class="alignCenter">
    <ul id="usersList">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("ViewProfile", "Home", new { Id = @item.UserId })">
                <li class="userContainer">
                    <span class="label">Name:</span>
                    <span>@item.LastName @item.FirstName</span><br />
                    <span class="label">City</span>
                    <span>@item.City</span><br />
                    <span class="label">Description</span>
                    <span>@item.Description</span>
                </li>
            </a>
        }
    </ul>
</div>