@model PhotoInvasion.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<div class="alignCenter">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>

    <section class="contact">
        <header>
            <h3>Personal details</h3>
        </header>
        <p>
            <span class="label">Name:</span>
            <span>@Model.userProfile.LastName @Model.userProfile.FirstName</span>
        </p>
        <p>
            <span class="label">Email:</span>
            <span>@Model.userProfile.Email</span>
        </p>
        <header>
            <h3>Description</h3>
        </header>
        <p>
            <span class="label">About me:</span>
            <span>@Model.userProfile.Description</span>
        </p>
        <p>
            <span class="label">City:</span>
            <span>@Model.userProfile.City</span>
        </p>
    </section>
</div>
<br />
<br />

<hr />
<div class="alignCenter">
    <h2>Recent Activity</h2>
    <br />
    @if (Model.recentActivity.Count != 0)
    {
        foreach (var photo in Model.recentActivity)
        {
            <a href="@Url.Action("ViewPhoto", "Album", new { id = @photo.Id, returnUrl = Request.Url.AbsoluteUri }, null)">
                <div class="imageWrapper">
                    <table>
                        <tr>
                            <td align="center" valign="middle">
                                <img src="@photo.Source" />
                            </td>
                        </tr>
                    </table>
                </div>
            </a>
        }
    }
    else
    {
        <h3>No activity</h3>
    }
</div>

@Scripts.Render("~/Scripts/images.js")