@model PhotoInvasion.Models.AddPhotoModel

@{
    ViewBag.Title = "AddPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var listItems = new List<System.Web.UI.WebControls.ListItem> { new System.Web.UI.WebControls.ListItem { Text = "Watermark", Value = "Watermark" }, new System.Web.UI.WebControls.ListItem { Text = "No Watermark", Value = "NoWatermark" } };
}
<h1>Add new photo</h1>
<div>
    <a href="@Url.Action("ViewAlbum", "Album", new { id = WebSecurity.CurrentUserId, a = ViewContext.RouteData.Values["id"] })"><i class="fa fa-arrow-circle-o-left fa-2x"></i>&nbspBack to album</a>
</div>

<div class="alignCenter">
    @using (Html.BeginForm("AddPhoto", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>AddPhotoModel</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.CategoryId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.CategoryId,
                new SelectList(Model.CategoryOptions, "Id", "Name", Model.CategoryOptions.First().Id))
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>

            @*<div class="editor-label">
                    @Html.LabelFor(model => model.Source)
                </div>*@
            <div class="editor-field">
                @*@Html.EditorFor(model => model.Source)
                    @Html.ValidationMessageFor(model => model.Source)*@

                <p>Choose a file from PC</p>
                <input name="myfile" type="file" />

            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="editor-field">
                @Html.DropDownListFor(m => m.WM, new SelectList(listItems), "-- Add Watermark --")
                @Html.ValidationMessageFor(model => model.WM)
            </div>

            <p>
                <input type="submit" value="Add photo" />
            </p>
        </fieldset>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
