@model PhotoInvasion.DAL.Album

@{
    ViewBag.Title = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="addButton" href="@Url.Action("Albums", "Home", new { Id = @Model.UserId })"><i class="fa fa-arrow-circle-o-left fa-2x"></i>&nbspBack to albums</a>
<h1>@Model.Name</h1><br />
<div class="alignCenter">
    <a class="addButton" href="@Url.Action("AddPhoto", "Album", new { Id = @Model.UserId })"><i class="fa fa-plus fa-2x"></i>&nbspAdd photo</a>

    @if (Model.Photo.Count == 0)
    {
        <p>No photos in this album.</p>
    }
    else
    {
        foreach (var photo in Model.Photo)
        {
            <div>
                <p>
                    <a href="@Url.Action("ViewPhoto", "Album", new { id = @photo.Id, returnUrl = Request.Url.AbsoluteUri }, null)"><img src="@photo.Source" /></a>
                    @Html.ActionLink("Delete", "DeletePhoto", "Album", new { Id = @photo.Id, AlbumId = @photo.AlbumId }, null)
                </p>
                <p>
                    <span class="label">Category</span>
                    <span>@photo.Category.Name</span>
                </p>
            <p>
                    <span class="label">Description</span>
                    <span>@photo.Description</span>
                </p>
            </div>
        }
    }
</div>